<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>test</title>

    <!-- Favicon  -->
<!--    <link rel="icon" href="images/core-img/favicon.ico">-->

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">

<!--    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9rw0o1zqhd"></script>-->
<!--    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9rw0o1zqhd&submodules=geocoder"></script>-->


</head>

<body>
<header th:replace="fragments/header :: header"></header>

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(images/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>test</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">


            <div id="map" style="width:100%;height:400px; position: relative; overflow: hidden; background: rgb(248, 249, 250);" tabindex="0">
                <div class="search" style="z-index: 999999; position: relative;">
                    <input id="address" type="text" placeholder="검색할 주소" value="" />
                    <input id="submit" type="button" value="주소 검색" />
                </div>
            </div>
            <div>
                <input type="text" th:value="${selectedAddress}" placeholder="선택 위치" id="selected-address" style="width: 300px" readonly>
                <input type="text" th:value="${detailAddress}" placeholder="상세 위치" id="detail-address"><br>
                x : <input type="text" value="" placeholder="" id="xdata"> <!-- hidden -->
                y : <input type="text" value="" placeholder="" id="ydata"> <!-- hidden -->
            </div>

            <!--            <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9rw0o1zqhd"></script>-->
            <!--            <script th:src="@{https://oapi.map.naver.com/openapi/v3/maps.js(ncpClientId=9rw0o1zqhd)}" type="text/javascript"></script>-->
<!--            <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9rw0o1zqhd&callback=CALLBACK_FUNCTION"></script>-->
            <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9rw0o1zqhd&submodules=geocoder"></script>
            <script th:inline="javascript">
                var map, marker; //지도, 마커
                var latitude, longitude; // 위도, 경도 저장 전역변수

                function initMap(lat, lng) {
                    latitude = lat; // 위도 y  Latitude
                    longitude = lng; // 경도 x  Longitude

                    // 지도 생성
                    map = new naver.maps.Map('map', {
                        center: new naver.maps.LatLng(latitude, longitude),
                        zoom: 17 // 지도 기본 확대 정도
                    });

                    // 마커 생성
                    marker = new naver.maps.Marker({
                        map: map
                    });
                    marker.setPosition(naver.maps.LatLng(latitude, longitude));

                    naver.maps.Event.addListener(map, 'click', function (e) {
                        marker.setPosition(e.coord); //클릭한 위치로 마커 표시
                        searchCoordinateToAddress(e.coord); // 클릭한 위치 주소 검색
                    });

                    // '주소 검색' 버튼 클릭
                    document.getElementById('submit').addEventListener('click', function() {
                        var address = document.getElementById('address').value;
                        searchAddressToCoordinate(address);
                    });
                    // 주소 검색시 엔터 눌렀을때 처리
                    document.getElementById('address').addEventListener('keydown', function(e) {
                        if (e.keyCode === 13) { // Enter Key
                            e.preventDefault();
                            searchAddressToCoordinate(this.value);
                        }
                    });
                }

                //현재 위치 가져와서 이동(장치에 GPS없으면 IP주소로 대략적인 위치 검색함)
                // function getLocation() {
                //     if (navigator.geolocation) {
                //         navigator.geolocation.getCurrentPosition(function (position) {
                //             initMap(position.coords.latitude, position.coords.longitude);  // 현재 위치로 지도 생성
                //         }, function (error) {
                //             console.error('Geolocation error:', error);
                //             initMap(37.4787123, 126.8864278); // 현재 위치 못찾을 때 기본 위치 : 마리오 아울렛2관
                //         });
                //     } else {
                //         console.error('Geolocation is not supported by this browser.');
                //         initMap(37.4787123, 126.8864278); // 현재 위치 못찾을 때 기본 위치 : 마리오 아울렛2관
                //     }
                // }

                //좌표값으로 주소 찾기
                function searchCoordinateToAddress(latlng) {
                    naver.maps.Service.reverseGeocode({
                        coords: latlng, // 클릭한 위치
                        orders: [
                            naver.maps.Service.OrderType.ADDR,
                            naver.maps.Service.OrderType.ROAD_ADDR
                        ].join(',')
                    }, function(status, response) {
                        if (status !== naver.maps.Service.Status.OK) {
                            console.error('Reverse Geocode Error:', status);
                            return alert('Something Wrong!');
                        }


                        var address = response.v2.address;
                        // 도로명 주소가 있으면 사용하고, 없으면 지번 주소 사용. 둘 다 없으면 '주소를 찾을 수 없음' 표시
                        var displayAddress = address.roadAddress || address.jibunAddress || '주소를 찾을 수 없음';

                        document.getElementById('selected-address').value = displayAddress; // input 태그에 값 넣기
                        document.getElementById('xdata').value = latlng._lng; // input 태그에 값 넣기
                        document.getElementById('ydata').value = latlng._lat; // input 태그에 값 넣기
                        console.log("좌표값: ", latlng); //출력 확인용 테스트
                        console.log("x값: ", latlng._lng); //출력 확인용 테스트
                        console.log("y값: ", latlng._lat); //출력 확인용 테스트
                        console.log("Address: ", displayAddress); //출력 확인용 테스트
                    });
                }

                //주소값으로 좌표값 찾고, 지도 이동
                function searchAddressToCoordinate(address) {
                    naver.maps.Service.geocode({
                        query: address
                    }, function(status, response) {
                        if (status !== naver.maps.Service.Status.OK) {
                            console.error('Geocode Error:', status);
                            return alert('주소 검색 결과가 없습니다.');
                        }

                        if (response.v2.meta.totalCount === 0) {
                            return alert('검색된 주소가 없습니다.');
                        }

                        var item = response.v2.addresses[0];
                        var point = new naver.maps.LatLng(item.y, item.x);

                        map.setCenter(point); //검색한 곳으로 지도 이동
                        // marker.setPosition(point); // 마커 표시
                    });
                }
                initMap([[${ydata}]], [[${xdata}]]);

                // getLocation(); // 호출
            </script>


        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->


<header th:replace="fragments/footer :: footer"></header>


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- Classy Nav js -->
<script th:src="@{/js/classy-nav.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>


</body>

</html>