<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>공지사항</title>

    <!-- Favicon  -->
<!--    <link rel="icon" href="images/core-img/favicon.ico">-->

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">


</head>

<body>
<header th:replace="fragments/header :: header"></header>





<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(images/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>공지사항</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">

            <table class="table table-striped">
                <thead>
                <tr class="title">
                    <th colspan="5" th:text="${dto.title}"></th>
                </tr>
                <tr>
                    <td>
                        <!-- 수정 버튼 -->
                        <a th:href="@{/notice/edit?no=${dto.no}}" class="btn btn-outline-primary">수정</a>
                    </td>
                    <td>
                        <!-- 삭제 버튼 -->
                        <a th:href="@{/notice/delete?no=${dto.no}}" class="btn btn-outline-danger">삭제</a>
                    </td>
                    <td>관리자</td>
                    <td th:text="${dto.resdate}"></td>
                    <td th:text="'조회수 : ' + ${dto.cnt}"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5" class="content">
                        <div th:utext="${dto.content}"></div>
                    </td>
                </tr>
                </tbody>
            </table>






        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->


<header th:replace="fragments/footer :: footer"></header>


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- Classy Nav js -->
<script th:src="@{/js/classy-nav.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>


</body>

</html>