<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>공지사항</title>

    <!-- Favicon  -->
<!--    <link rel="icon" href="images/core-img/favicon.ico">-->

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">


</head>

<body>
<header th:replace="fragments/header :: header"></header>





<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(images/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>공지사항</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="search_from">
                    <select th:name="select_filter" class="select_filter">
                        <option value="0">번호</option>
                        <option value="1">제목</option>
                        <option value="2">게시일</option>
                    </select>
                    <input type="text" th:name="search_filter" class="search_filter">
                </div>
                <table id="myTable" class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th width="80">번호</th>
                        <th>제목</th>
                        <th width="120">게시일</th>
                        <th width="100">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board, status : ${noticeList}">
                        <td th:text="${status.index + 1}"></td>
                        <td><a th:href="@{'/notice/detail?no=' + ${board.no}}" th:text="${board.title}"></a></td>
                        <td>
                            <span th:text="${board.resdate}">날짜</span>
                        </td>
                        <td th:text="${board.cnt}"></td>
                    </tr>
                    </tbody>
                </table>

                <!--                <div th:if="${#authentication.name == 'admin'}" class="button-group">-->
                    <a th:href="@{'/notice/insert'}" class="button is-link is-outlined">글쓰기</a>
<!--                </div>-->
            </div>




        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Plugins js -->
<script th:src="@{/js/plugins.js}"></script>
<!-- Classy Nav js -->
<script th:src="@{/js/classy-nav.min.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>


</body>

</html>